@{
    ViewBag.Title = "Sample TS Namespace";
}
@section styles {
    <style>
        h3 { color: green }
    </style>
}
@section scripts {
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="bundle.js"></script>
    @* DYNAMIC INJECTION OF CONSTANTS TO NG, READING VALUE FROM VIEWBAG *@
    @Html.Partial("ngConstants")
}

<aside ng-app="myapp">
    <ul>
        <li><a href="#/wait">WAIT</a></li>
        <li><a href="#/hi/ciao">HI</a></li>
    </ul>
    <div ng-view></div>
</aside>