@{
    ViewBag.Title = "Index NOT WORKING";
}
@section styles {
    <style>
        h2 { color: red; }
    </style>
}
@section scripts {
    <script src="bundle.js"></script>
}
<h2>@ViewBag.Title</h2>
<button onclick="home.Services.great('Daniele')"> Cliccami </button>